body {
    background-color: lightseagreen;
}

ul {
    width: 600px;
    margin: auto;
    li {
        padding: 5px 0;

        //для переключателя
        list-style-type: none;
        label,
        input {
            cursor: pointer;
        }
    }
}

.accordion {
    list-style-type: none;
    font-family: "Times New Roman", Times, serif;

    .accordion__title {
        display: flex;
        justify-content: space-between;
        font-size: large;
        cursor: pointer;
        background-color: rgb(240, 236, 236);
        align-items: center;
        padding: 10px 5px;
        border-bottom: rgb(168, 168, 168) solid 1px;
    }

    .accordion__description {
        padding: 10px 5px;
        background-color: white;
        display: block;
    }

    .accordion__description_open {
        display: block;
    }

    .accordion__description_close {
        display: none;
    }

    .accordion__btn {
        display: flex;
        img {
            width: 20px;
            height: 20px;
        }
    }
    .accordion__btn_open {
        :first-child {
            display: none;
        }
        :last-child {
            display: block;
        }
    }
    .accordion__btn_close {
        :first-child {
            display: block;
        }
        :last-child {
            display: none;
        }
    }
}
